APP_NAME=ReviewLens AI
ENVIRONMENT=development
DEBUG=true
AZURE_STORAGE_ACCOUNT_NAME=reviewlensai260925
AZURE_STORAGE_CONTAINER_NAME=reviews 
AZURE_LANGUAGE_ENDPOINT=https://a25ariu0029-0508-resource.cognitiveservices.azure.com/