fastapi
uvicorn
python-multipart
python-dotenv
pydantic-settings

azure-identity
azure-storage-blob
azure-ai-textanalytics
azure-search-documents

sentence-transformers
requests 
sqlalchemy
psycopg2-binary 